body {
    font-family: helvetica;
    font-size: 14px;
}

#cyContainer {
    position: relative;
    width: 100%;
}

#cy {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
